{{#section 'title'}}Thông tin cá nhân{{/section}}
<nav class="breadcrumb">
    <a class="breadcrumb-item active" href="/profile">Thông tin</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <h4 class="card-title">Trang thông tin cá nhân</h4>
        </div>
    </div>
</div>
<div class="contentMain my-5">
    <div class="card text-dark bg-light">
    <div class="card-header text-white" style="background-color: #00AA9E;"> <i class="fa fa-user-circle" aria-hidden="true"></i> Chỉnh sửa thông tin cá nhân</div>
    <div class="card-body">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-4">
            <img src="public/avatar/{{user.avatar}}" class="select_img border rouded img-thumbnail img-fluid" id="imgava" alt="ảnh đại diện" style="margin-top:3%; min-width: 85%; min-height:88%;max-width: 85%; max-height:88%">
            <input type="file" class="form-control-file" name="avatar" id="fileInput" onchange="showMyImage(this)" placeholder="" aria-describedby="fileHelpId" multiple>
            </div>
            <div class="col-sm-8">
                        <div class="form-group" style="margin: 10px;">
                        <label for="username"> <i class="fa fa-user" aria-hidden="true"></i> Tên người dùng: </label>
                        <lable name="email">{{user.username}}</lable>
                        </div>
                        <div class="form-group" style="margin: 10px;">
                        <label for="password"> <i class="fa fa-lock" aria-hidden="true"></i> Mẩu khẩu: <a href="profile/changepassword">Thay đổi</a></label>
                        </div>
                        <div class="form-group" style="margin: 10px">
                        <label for="role"><i class="fa fa-users" aria-hidden="true"></i> Vai trò: </label>
                        <lable name="role">{{user.role}}</lable>
                        </div>
                         <div class="form-group" style="margin: 10px">
                        <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email: </label>
                        <lable name="email">{{user.email}}</lable>
                        </div>
                        {{#if isWriter}}
                        <div class="form-group" style="margin: 10px;">
                        <label for="nickname"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Bút danh: </label>
                        <label class="text_label" name="nickname">{{user.nickname}}</label><div class="edit"></div>
                        <input type="text" value="{{user.nickname}}" name="nickname"/>
                        </div>
                        {{/if}}
                        <div class="form-group" style="margin: 10px;">
                        <label for="name"><i class="fa fa-id-badge" aria-hidden="true"></i> Họ tên: </label>
                        <label class="text_label" name="name">{{user.name}}</label><div class="edit"></div>
                        <input type="text" value="{{user.name}}" name="name"/>
                        </div>
                        <div class="form-group" style="margin: 10px;">
                        <label for="dob"><i class="fa fa-calendar" aria-hidden="true"></i> Ngày sinh: </label>
                        <label class="text_label" name="dob">{{user.dob}}</label><div class="edit"></div>
                        <input type="date" value="{{user.dob}}" name="dob"/>
                        </div>
                        <div class="form-group" style="margin: 10px">
                        <label for="phone"><i class="fa fa-phone" aria-hidden="true"></i> Số điện thoại: </label>
                        <label class="text_label" name="phone">{{user.phone}}</label><div class="edit"></div>
                        <input type="text" value="{{user.phone}}" name="phone"/>
                        </div>
                        {{#if isSubscriber}}
                        <div class="form-group" style="margin: 10px">
                        <label for="role"><i class="fa fa-clock-o" aria-hidden="true"></i> Hạn sử dụng: </label>
                        <lable name="expired" style="color: red;">{{user.expired}}</lable>
                        </div>
                        {{/if}}
                        {{#if this.nicknameExists}}
                            <div class="alert alert-danger" role="alert">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Bút danh đã tồn tại, vui lòng chọn bút danh khác <br>
                                </div>
                            <br>
                        {{/if}}

                        {{#if this.isError}}
                            <div class="alert alert-danger" role="alert">
                                {{#each this.Error}}
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{msg}} <br>
                                {{/each}}
                                </div>
                            <br>
                        {{/if}}
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o" aria-hidden="true"></i> Lưu thông tin </button>
        </div>
        </form>
    </div>
    </div>
    </div>
</div>
{{#section 'js'}}
    <script type="text/javascript" src="/public/admin/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/public/admin/easy-editable-text.js"></script>
{{/section}}
