{{#section 'title'}}Thông tin cá nhân{{/section}}
<nav class="breadcrumb">
    <a class="breadcrumb-item active" href="/profile">Thông tin</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <h4 class="card-title">Quản lý bài viết</h4>
        </div>
    </div>
</div>
<div class="contentMain my-5">
    <div class="card text-dark bg-light">
    <div class="card-header text-white" style="background-color: #00AA9E;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Quản lý bài viết</div>
    <div class="card-body">
    <div class="container">
        <div class="table-responsive">
            {{#if isWriter}}
            <form method="get">
             <div class="form-group">
                 <a href="/profile/postmanagement/add" class="btn btn-outline-success"><i class="fa fa-pencil" aria-hidden="true"></i> Đăng bài</a>
                     <button type="submit" class="btn btn-info float-right"><i class="fa fa-filter" aria-hidden="true"></i> Lọc danh sách</button>
                    <select class="form-control float-right" id="postFilter" name="type" style="max-width:30%; margin-right:2%">
                    <option value="0"    >Tất cả bài viết</option>
                    <option value="1" {{#eq type 1}} selected {{/eq}}>Đã được duyệt</option>
                    <option value="2"{{#eq type 2}} selected {{/eq}}>Đã xuất bản</option>
                    <option value="3" {{#eq type 3}} selected {{/eq}}>Chưa được duyệt</option>
                    <option value="4"{{#eq type 4}} selected {{/eq}}>Bị từ chối</option>
                    </select>
                    </div>
                   

                 </form>
                 {{/if}}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" >Tiêu đề</th>
                            <th scope="col" >Trạng thái</th>
                            <th>Thể loại</th>
                            <th scope="col" >Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if this.empty}}
                        {{else}}
                        {{#each this.news}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{name}}</td>
                            <td>{{#eq status 1 }}
                                    {{#checkOpenTime openTime}}
                                        Xuất bản
                                    {{/checkOpenTime}}
                                    {{#waitOpen openTime}}
                                        Duyệt và chờ xuất bản
                                    {{/waitOpen}}
                                {{/eq}}
                                {{#eq status 0}}
                                    {{#ne note underfined }}
                                        Từ chối
                                     {{/ne}}   
                                    {{#eq note underfined }}
                                        Chờ duyệt
                                    {{/eq}}
                                {{/eq}}
                            </td>
                            <td>{{catName}}</td>
                            <td >
                                 {{#if ../isWriter}}
                                 {{#eq status 0 }}
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-success float-left mx-3"
                                    href="/profile/postmanagement/edit/{{id}}"><i class="fa
                                        fa-pencil"
                                        aria-hidden="true" title="Sửa"></i></a>
                                  {{/eq}}      
                                {{/if}}
                                <a class="btn btn-primary float-left mx-3"
                                    href="/profile/postmanagement/view/{{id}}"><i class="fa
                                        fa-eye"
                                        aria-hidden="true" title="Xem"></i> </a>
                                {{!-- Thầy bảo phải dung method post nên phải
                                dùng form method post để gửi request --}}
                                 {{#if ../isWriter}}
                                 {{#eq status 0}}
                                <form class="float-left"
                                    action="/profile/postmanagement/delete/{{id}}"
                                    method="POST">
                                    <button type="submit" class="btn btn-danger
                                        mx-3"><i class="fa fa-trash"
                                            aria-hidden="true" title="Xóa"></i></button>
                                </form>
                                {{/eq}}
                                {{/if}}
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
    </div>
    </div>
    </div>
</div>
{{#section 'js'}}
    <script type="text/javascript" src="/public/admin/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/public/admin/easy-editable-text.js"></script>
{{/section}}
