{{#section 'title'}}Đọc giả{{/section}}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/admin">Trang chủ</a>
    <a class="breadcrumb-item active" href="#">Đọc giả</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <h4 class="card-title">Danh sách yêu cầu gia hạn</h4>
        </div>
    </div>
</div>

<div class="contentHeader my-4">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" width="15%">ID người dùng</th>
                            <th scope="col" width="30%">Tên người dùng</th>
                            <th scope="col" width="30%">Thời gian gửi yêu cầu</th>
                            <th scope="col">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                             {{#if this.empty}}
                            {{else}}
                            {{#each this.req}}
                            <th scope="row">{{id}}</th>
                            <td>{{userId}}</td>
                            <td>{{username}}</td>
                            <td>{{requestDate}}</td>
                            <td class="d-flex justify-content-center">
                                <form class="float-left"
                                    action="/admin/subscriber/check/{{userId}}"
                                    method="POST">
                                    <button type="submit" class="btn btn-success
                                        mx-1"><i class="fa fa-check"
                                            aria-hidden="true"></i></button>
                                </form>
                            </td>
                            {{/each}}
                            {{/if}}
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>