{{#section 'title'}}Phân loại{{/section}}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/admin">Trang chủ</a>
    <a class="breadcrumb-item" href="/admin/category">Thể loại</a>
    <a class="breadcrumb-item active" href="#">Sửa</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <h4 class="card-title">Sửa thể loại</h4>
        </div>
    </div>
</div>

<div class="contentHeader my-4">
    <div class="card text-dark bg-light">
        <div class="card-body">
            <form action="" method="POST">
                <div class="form-group">
                    {{!-- Kiểm tra trùng tên thể loại --}}
                    <label for="">Tên thể loại</label>
                    <input type="text"
                        class="form-control form-control-sm" autofocus
                        name="name" value="{{this.category.name}}" required>
                </div>
                <div class="form-group">
                    <label for="">Mục chính</label>
                
                    <select class="form-control" name="parentID" id="parentID">
                        <option value="0">Không có</option>
                        {{#each this.tag}}
                            {{#ne id ../this.category.id}}
                                <option name="parentID"
                                    {{#eq id ../this.category.parentID}}
                                        selected
                                    {{/eq}}
                                id="{{id}}" value="{{id}}">{{name}}</option>
                            {{/ne}}
                        {{/each}}
                        
                       
                    </select>
                </div>
                <input type="hidden" name="id" value="{{category.id}}">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success py-3">Sửa</button>
                </div>

            </form>
        </div>
    </div>
</div>