{{!-- TITLE tự bỏ vào --}}
{{#section 'title'}}Trang chủ{{/section}}
{{#section 'css'}}
<link type="text/css" rel="stylesheet" href="magicscroll.css" />
<script type="text/javascript" src="/public/magicscroll.js"></script>
{{/section}}

{{!-- START MAIN --}}
<div class="container justify-content-center pt-2">
    <div class="headerBar">Nổi bật</div> </br>
         <div class="row d-flex">
              {{#each hotNews}}
                    <div class="col-md-4 clearfix d-none d-md-block eachNews">
                        <div class="card mb-2">
                            <a href="/{{name}}/id={{id}}">
                                <img class="card-img-top"
                                    src="/public/uploads/{{thumbnail}}"
                                    alt="Card image cap">
                            </a>
                            <div class="card-body">
                                      
                                   {{#if isPremium}}
                                    <i class="fa fa-tags text-danger"> Đặc biệt </i>
                                       
                                    {{/if}}
                                
                                <h5 class="card-title"> <a
                                        href="/{{name}}/id={{id}}">{{name}}</a></h5>
                                <small>ngày đăng: {{formatDate openTime 'DD/MM/yyyy'}}</small>
                                <div class="card-text">{{description}}</div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
         
        </div>       
    </div>
</div>
<div class="container py-4 justify-content-center">
    <div class="headerBar">Mới nhất</div> <br>
    <div id="multi-item-example" class="carousel slide carousel-multi-item"
        data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0"
                class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="row d-flex">
                    {{#each resultNew1}}
                    <div class="col-md-4 clearfix d-none d-md-block eachNews">
                        <div class="card mb-2">
                            <a href="/{{name}}/id={{id}}">
                                <img class="card-img-top"
                                    src="/public/uploads/{{thumbnail}}"
                                    alt="Card image cap">
                            </a>
                            <div class="card-body">
                                      
                                   {{#if isPremium}}
                                    <i class="fa fa-tags text-danger"> Đặc biệt </i>
                                       
                                    {{/if}}
                                
                                <h5 class="card-title"> <a
                                        href="/{{name}}/id={{id}}">{{name}}</a></h5>
                                <small>ngày đăng:{{formatDate openTime 'DD/MM/yyyy'}}</small>
                                <div class="card-text">{{description}}</div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
                </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="row h-25 d-flex">
                    {{#each resultNew2}}
                    <div class="col-md-4 clearfix d-none d-md-block eachNews">
                        <div class="card mb-2">
                            <a href="/{{name}}/id={{id}}">
                                <img class="card-img-top"
                                    src="/public/uploads/{{thumbnail}}"
                                    alt="Card image cap">
                            </a>
                            <div class="card-body">
                                {{#if isPremium}}
                                    <i class="fa fa-tags text-danger"> Đặc biệt </i>
                                       
                                {{/if}}
                                <h5 class="card-title"> <a
                                        href="/{{name}}/id={{id}}">{{name}}</a></h5>
                                <small>ngày đăng: {{formatDate openTime 'DD/MM/yyyy'}}</small>
                                <div class="card-text">{{description}}</div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
                </div>
            </div>

            <!--three slide-->
            <div class="carousel-item">
                <div class="row">
                    {{#each resultNew3}}
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <a href="/{{name}}/id={{id}}">
                                <img class="card-img-top"
                                    src="/public/uploads/{{thumbnail}}"
                                    alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"> <a
                                        href="/{{name}}/id={{id}}">{{name}}</a></h5>
                                <small>ngày đăng: {{openTime}}</small>
                                <div class="card-text">{{description}}</div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
                </div>
            </div>

            <!--four slide-->
            <div class="carousel-item">
                <div class="row">
                    {{#each resultNew4}}
                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <a href="/{{name}}/id={{id}}">
                                <img class="card-img-top"
                                    src="/public/uploads/{{thumbnail}}"
                                    alt="Card image cap">
                            </a>
                            <div class="card-body">
                            {{#if isPremium}}
                                    <i class="fa fa-tags text-danger"> Đặc biệt </i>
                                       
                            {{/if}}
                                <h5 class="card-title"> <a
                                        href="/{{name}}/id={{id}}">{{name}}</a></h5>
                                <small>ngày đăng: {{formatDate openTime 'DD/MM/yyyy'}}</small>
                                <div class="card-text">{{description}}</div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
                </div>
            </div>
            <a class="carousel-control-prev newsControlPrev"
                href="#multi-item-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next newsControlNext"
                href="#multi-item-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="container py-4">
            <div class="headerBar">Mới nhất theo chuyên mục</div>
            <div class="row d-flex justify-content-left ">
                {{#each resultCat}}
                <div class="col-sm-12 py-2">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title pb-3">{{name}}</h4>
                            {{#each newCat}}
                            <div class="itemNews py-2">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <a href="/{{name}}/id={{id}}">
                                            <img
                                                src="/public/uploads/{{thumbnail}}"
                                                class="w-100 m-auto" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7">
                                         {{#if isPremium}}
                                         <i class="fa fa-tags text-danger"> Đặc biệt </i>
                                       
                                         {{/if}}
                                        <h5 class="card-title"> <a
                                                href="/{{name}}/id={{id}}">{{name}}</a></h5>
                                        <small>ngày đăng:{{formatDate openTime 'DD/MM/yyyy'}}</small>
                                        <div class="card-text">{{description}}</div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>


            <div class="container py-4">
                <div class="headerBar">Xem nhiều nhất</div>
                <div class="row d-flex justify-content-left">
                    {{#each resultCat}}
                    <div class="col-sm-12 py-2">
                        <div class="card text-left">
                            <div class="card-body">
                                <h4 class="card-title pb-3">{{name}}</h4>
                                {{#each newMany}}
                                <div class="itemNews py-2">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <a href="/{{name}}/id={{id}}">
                                                <img
                                                    src="/public/uploads/{{thumbnail}}"
                                                    class="w-100 m-auto" alt="">
                                            </a>
                                        </div>
                                        <div class="col-sm-7">
                                              {{#if isPremium}}
                                         <i class="fa fa-tags text-danger"> Đặc biệt </i>
                                       
                                         {{/if}}
                                            <h5 class="card-title"> <a
                                                    href="/{{name}}/id={{id}}">{{name}}</a></h5>
                                            <small>ngày đăng: {{formatDate openTime 'DD/MM/yyyy'}}</small>
                                            <div class="card-text">{{description}}</div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{!-- END MAIN --}}