{{#section 'title'}}Phân loại{{/section}}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/admin">Trang chủ</a>
    <a class="breadcrumb-item" href="/admin/member">Thành viên</a>
    <a class="breadcrumb-item active" href="#">Chi tiết</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <h4 class="card-title">Chi tiết thành viên</h4>
        </div>
    </div>
</div>

<div class="contentHeader my-4">
    <div class="card text-dark bg-light">
        <div class="card-body">
            <div class="container">
             <div class="row">
            <div class="col-sm-4">
            <img src="/public/avatar/{{user.avatar}}" class="select_img border rouded img-thumbnail img-fluid" id="imgava" alt="ảnh đại diện" style="margin-top:3%; min-width: 90%; min-height:100%">
            </div>
            <div class="col-sm-8">
                        <div class="form-group" style="margin: 10px;">
                        <label for="name"><i class="fa fa-id-badge" aria-hidden="true"></i> Họ tên: {{user.name}}</label>
                        </div>
                         <div class="form-group" style="margin: 10px">
                        <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{user.email}}</label>
                        </div>
                        <div class="form-group" style="margin: 10px;">
                        <label for="dob"><i class="fa fa-calendar" aria-hidden="true"></i> Ngày sinh: {{user.dob}}</label>
                        </div>
                        <div class="form-group" style="margin: 10px">
                        <label for="phone"><i class="fa fa-phone" aria-hidden="true"></i> Số điện thoại: {{user.phone}}</label>
                        </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>