{{#section 'title'}}Phân loại{{/section}}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/admin">Trang chủ</a>
    <a class="breadcrumb-item" href="/admin/member">Thành viên</a>
    <a class="breadcrumb-item active" href="#">Chi tiết</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <h4 class="card-title">Chi tiết thành viên</h4>
        </div>
    </div>
</div>

<div class="contentHeader my-4">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            {{!-- Thầy bảo phải dung method post nên phải dùng form method post
            để gửi request --}}
            <form action="/admin/member/delete/{{id}}" class="float-right pt-3"
                method="POST">
                <button type="submit" class="btn btn-danger mx-3"><i class="fa
                        fa-trash" aria-hidden="true" title="Xóa"></i> Xóa</button>
            </form>
            <a class="btn btn-primary m-3 float-right" href="/admin/member/add"
                role="button"> <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm thành viên</a>
            <div class="table-responsive">
                <table class="table">
                    {{#each this.member}}
                    <tr>
                        <th width="15%">Tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Ngày sinh</th>
                        <th>Vai trò</th>
                    </tr>
                    <tr>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <td>{{phone}}</td>
                    </tr>
                    <tr>
                        <td>{{dob}}</td>
                    </tr>
                    <tr>
                        <td>{{userID}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>